* {
	/*border: 2px solid red;*/
	margin: 0;
}
body {
	background-color: black;
}
p, span {
	color: white;
}
.redtxt {
	color: red;
}
.tagline {
	width: 230px;
	padding: 20px;
	padding-bottom: 5px;
	margin: auto;
	display: flex;
  	align-items: center;
 	justify-content: center;
 	position: relative;
 	border-style: solid;
	border-color: red;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}
.head {
	display: flex;
	align-items: center;
 	justify-content: center;
 	border-style: solid;
	border-color: red;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}
.h_button {
	margin: 20px;
	border: 1px solid red;
	display: inline-block;
}